<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust</title>
</head>
<body>
    <form action="/listings" method="post">
        <input type="text" name="title" placeholder="Enter title">
        <br><br>
        <textarea name="description" placeholder="Write description" rows="7" cols="50"></textarea>
        <br><br>
        <input type="text" name="image" placeholder="Enter image-url">
        <br><br>
        <input type="number" name="price" placeholder="Enter amount in INR">
        <br><br>
        <input type="text" name="location" placeholder="Enter location">
        <br><br>
        <input type="text" name="country" placeholder="Enter country">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>